@import "tailwindcss";
@font-face {
  font-family: 'FunGroovy';
  src: 
       url('/fonts/FunGroovy-1GB12.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.FunGroovy{
  font-family: 'FunGroovy', sans-serif;
}
